<!DOCTYPE html>
<html>
  <head>
    <!--this will style on every page because of "yield"  -->
    <link rel="stylesheet" href="/application.css">
    <!-- sinatra looks for "public folder" -->
    <title>Robot World</title>
  </head>
  <body>
    <%= yield %>
    <!-- Sinatra method to run css with all render blocks (erb :index etc) -->
  </body>
</html>
